<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tambah Freezer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
  <h1>Tambah Freezer</h1>
  <a href="/freezer"><button type="button" class="btn btn-info btn-sm">Tampilkan Semua Freezer</button></a>
  <form action="/freeze/add" method="post">

    <label for="namaIkan" id="namaIkan" name="namaIkan" >Nama Freezer</label><br>
    <input type="text" id="namaIkan"  name="namaIkan"  size="20" class="form-control" placeholder="e.g: cumi-cumi"><br><br>
    <button type="submit" class="btn btn-primary btn-sm">Simpan</button>
    <input type="button" class="btn btn-primary btn-sm" value="Cancel" onclick="location='/nelayan'">
  </form>
  </div>

  <%- include('partials/footer')%>
</body>
<% if (errors) { %>
    <% errors.forEach (e => { %>
      <p style="color: red;"><%= e %></p>
    <% }) %>
<% } %>
</html> 